* {
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 375px) {
 .txt {
   font-size: 30px !important;
 }
 input {
   width: 130px !important;
   height: 20px !important;
   padding: 0px !important;
 }
}

.dolar{
   width: 120px;
}

.viewsize{
   height: 100vh;
}

/* remover arrow dos input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
   -moz-appearance: textfield;
}

/* Alterar glow dos input e animação no focus */
 input[type=number] {
   -webkit-transition: all 0.25s ease-in-out;
   -moz-transition: all 0.25s ease-in-out;
   -ms-transition: all 0.25s ease-in-out;
   -o-transition: all 0.25s ease-in-out;
   width: 182px;
   outline: none;
   padding: 3px 3px 3px 3px;
   margin: 5px 15px 3px 0px;
   border: 1px solid #DDDDDD;
 }
  
 input[type=number]:focus {
   box-shadow: 0 0 5px rgb(43, 185, 155);
   padding: 3px 3px 3px 3px;
   margin: 5px 1px 3px 0px;
   border: 1px solid rgb(43, 185, 155);
 }

 div.container{
   padding-top: 20vh;
 }

 button.btn{
   background-color: rgb(43, 185, 155);
   color: white;
   padding-top: 9.5px;
   padding-bottom: 9.5px;

 }

select#selectMoeda {
  width: 60px !important;
  height: 45px !important;
  margin: 2px 15px 0px 0px;
  padding: 0px 0px 0px 10px;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  background-color: #FFF;

}